h1 {
  font-size: 60px;
  text-align: center;
  font-family: "Merriweather";
  background-color: rgb(214, 234, 248);
}

h2 {
  text-align: center;
  background-color: rgb(174, 214, 241);
}

h3 {
  text-align: center;
  font-size: 25px;
}

p {
  font-family: "Montserrat";
  font-size: 20px;
  text-align: center;
}
  
a {
  width: 65px;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  background-color: rgb(46, 175, 109);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h4 {
  text-align: center;

body {
  width: 1024px;
}
